<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>katahi_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{118,153}</string>
                <key>spriteSourceSize</key>
                <string>{128,153}</string>
                <key>textureRect</key>
                <string>{{711,1695},{118,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katahi_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{118,153}</string>
                <key>spriteSourceSize</key>
                <string>{128,153}</string>
                <key>textureRect</key>
                <string>{{711,1815},{118,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katahipause_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,353}</string>
                <key>spriteSourceSize</key>
                <string>{220,353}</string>
                <key>textureRect</key>
                <string>{{1,1695},{220,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katahipause_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,353}</string>
                <key>spriteSourceSize</key>
                <string>{223,353}</string>
                <key>textureRect</key>
                <string>{{905,564},{223,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katahipause_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,353}</string>
                <key>spriteSourceSize</key>
                <string>{223,353}</string>
                <key>textureRect</key>
                <string>{{905,789},{223,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katahipause_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,353}</string>
                <key>spriteSourceSize</key>
                <string>{221,353}</string>
                <key>textureRect</key>
                <string>{{894,1624},{221,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katahipause_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,353}</string>
                <key>spriteSourceSize</key>
                <string>{220,353}</string>
                <key>textureRect</key>
                <string>{{356,1695},{220,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katahipause_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,353}</string>
                <key>spriteSourceSize</key>
                <string>{220,353}</string>
                <key>textureRect</key>
                <string>{{356,1695},{220,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katahipause_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,353}</string>
                <key>spriteSourceSize</key>
                <string>{221,353}</string>
                <key>textureRect</key>
                <string>{{1117,1624},{221,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secuestro_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,444}</string>
                <key>spriteSourceSize</key>
                <string>{289,444}</string>
                <key>textureRect</key>
                <string>{{895,1333},{289,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,449}</string>
                <key>spriteSourceSize</key>
                <string>{273,449}</string>
                <key>textureRect</key>
                <string>{{1,586},{273,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,442}</string>
                <key>spriteSourceSize</key>
                <string>{289,442}</string>
                <key>textureRect</key>
                <string>{{905,1},{289,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,450}</string>
                <key>spriteSourceSize</key>
                <string>{270,450}</string>
                <key>textureRect</key>
                <string>{{453,278},{270,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,444}</string>
                <key>spriteSourceSize</key>
                <string>{289,444}</string>
                <key>textureRect</key>
                <string>{{448,1404},{289,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,442}</string>
                <key>spriteSourceSize</key>
                <string>{270,442}</string>
                <key>textureRect</key>
                <string>{{905,292},{270,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,445}</string>
                <key>spriteSourceSize</key>
                <string>{289,445}</string>
                <key>textureRect</key>
                <string>{{1,861},{289,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,450}</string>
                <key>spriteSourceSize</key>
                <string>{275,450}</string>
                <key>textureRect</key>
                <string>{{453,1},{275,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,447}</string>
                <key>spriteSourceSize</key>
                <string>{317,447}</string>
                <key>textureRect</key>
                <string>{{452,812},{317,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,450}</string>
                <key>spriteSourceSize</key>
                <string>{260,450}</string>
                <key>textureRect</key>
                <string>{{453,550},{260,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,450}</string>
                <key>spriteSourceSize</key>
                <string>{317,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,450}</string>
                <key>spriteSourceSize</key>
                <string>{264,450}</string>
                <key>textureRect</key>
                <string>{{1,320},{264,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,445}</string>
                <key>spriteSourceSize</key>
                <string>{317,445}</string>
                <key>textureRect</key>
                <string>{{901,1014},{317,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,444}</string>
                <key>spriteSourceSize</key>
                <string>{270,444}</string>
                <key>textureRect</key>
                <string>{{1,1423},{270,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{269,445}</string>
                <key>spriteSourceSize</key>
                <string>{271,445}</string>
                <key>textureRect</key>
                <string>{{1,1152},{269,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secuestro_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,445}</string>
                <key>spriteSourceSize</key>
                <string>{271,445}</string>
                <key>textureRect</key>
                <string>{{448,1131},{271,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ZerrinyKatahi.png</string>
            <key>size</key>
            <string>{1348,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ada8addef852b47e9bb85011a14f54b:f1afdaf17ddca0c14675e4e34aef2bc0:c887711d035073df195161d02db833d1$</string>
            <key>textureFileName</key>
            <string>ZerrinyKatahi.png</string>
        </dict>
    </dict>
</plist>
