<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,156},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,311},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,466},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{97,151}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,1086},{97,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{97,151}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,1239},{97,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,621},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,776},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{97,153}</string>
                <key>textureRect</key>
                <string>{{1,931},{97,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Cycle_walk_sheet.png</string>
            <key>size</key>
            <string>{99,1391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c0bd9757c6932b2fe2463809ea3335:c909de049ac48db5e33b3bc64d00b8bd:42f1c72ef7e4850be57286068e5f88b1$</string>
            <key>textureFileName</key>
            <string>Cycle_walk_sheet.png</string>
        </dict>
    </dict>
</plist>
